In [1]:
import pandas as pd
import numpy as np

In [ ]:
#Q1. Write a Pandas program to convert Series of lists to one Series.

In [3]:
a=([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
a=pd.Series(a)
b=[item for i in a for item in i]
print(b)
c=pd.Series(b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

In [ ]:
#Q2. Write a Pandas program to create a subset of a given series based on value and condition.

In [4]:
a=([1,2,3,4,5,6,7,8,9,10])
b=pd.Series(a)
s1=b[b<5]
s2=b[b>5]
print(s1)
print(s2)

0    1
1    2
2    3
3    4
dtype: int64
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
#Q3. Write a Pandas program to display most frequent value in a given series and replace everything else as &#39;Other&#39; in the series.

In [6]:
a=([1,2,1,1,3,4,1,1])
b=pd.Series(a)
b.value_counts()
b[~b.isin(b.value_counts().index[:1])]='other'
print(b)

0        1
1    other
2        1
3        1
4    other
5    other
6        1
7        1
dtype: object

In [ ]:
#Q4. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [7]:
a=([1,4,5,10,15])
b=pd.Series(a)
c=b[b%5==0]
print(c)

2     5
3    10
4    15
dtype: int64

In [ ]:
#Q5. Write a Pandas program to calculate the number of characters in each word in a given series.

In [8]:
a=(['Arun','Venky','Sai'])
b=pd.Series(a)
c=b.apply(lambda i:len(i))
print(c)

0    4
1    5
2    3
dtype: int64

In [ ]:
#Q6. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [11]:
a={'year_month':['2024-01','2023-03','2022-02']}
b=pd.DataFrame(a)
date=26
b['Date']=pd.to_datetime(b['year_month']+ '-' +str(date),format='%Y-%m-%d')
print(b)

  year_month       Date
0    2024-01 2024-01-26
1    2023-03 2023-03-26
2    2022-02 2022-02-26

In [ ]:
#Q7. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [12]:
a={'Name':['Arun','Venky','Lohith'],'Age':[21,25,30],'College':['srm','vit','klu']}
label=['Person1','Person2','Person3']
b=pd.DataFrame(a,index=label)
print(b)

           Name  Age College
Person1    Arun   21     srm
Person2   Venky   25     vit
Person3  Lohith   30     klu

In [ ]:
#Q8. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [14]:
a={'Name':['Arun','Lohith','Abhinav','Ameen'],'attempts':[2,3,5,4]}
b=pd.DataFrame(a)
c=b[b['attempts']>2]
print(c)

      Name  attempts
1   Lohith         3
2  Abhinav         5
3    Ameen         4

In [ ]:
#Q9. Write a Pandas program to append a new row &#39;k&#39; to data frame with given values for each column. Now delete the new row and return the original DataFrame.

In [17]:
a={'Name':['Arun','Venky','Abhinav'],'Age':[21,25,30]}
label=['Person1','Person2','Person3']
b=pd.DataFrame(a,index=label)
print(b)
d={'Name':['Lohith','Mahesh'],'Age':[24,19]}
label1=['Person4','Person5']
e=pd.DataFrame(d,index=label1)
print(e)
f=b.append(e)
f=f.drop('Person4')
f=f.drop('Person5')
print(f)

            Name  Age
Person1     Arun   21
Person2    Venky   25
Person3  Abhinav   30
           Name  Age
Person4  Lohith   24
Person5  Mahesh   19
            Name  Age
Person1     Arun   21
Person2    Venky   25
Person3  Abhinav   30

In [ ]:
#Q10. Write a Pandas program to sort the DataFrame first by &#39;name&#39; in descending order, then by &#39;score&#39; in ascending order.

In [18]:
a={'Name':['Arun','Venky','Sai','Lohith','Ameen'],'score':[20,24,25,18,17]}
b=pd.DataFrame(a)
c=b.sort_values(by='score',ascending=True)
print(c)
d=b.sort_values(by='Name',ascending=False)
print(d)

     Name  score
4   Ameen     17
3  Lohith     18
0    Arun     20
1   Venky     24
2     Sai     25
     Name  score
1   Venky     24
2     Sai     25
3  Lohith     18
0    Arun     20
4   Ameen     17

In [ ]:
#Q11. Write a Pandas program to replace the &#39;qualify&#39; column contains the values &#39;yes&#39; and &#39;no&#39; with True and False.

In [19]:
a={'candidate':['venky','arun','sai'],'qualify':['Yes','No','No']}
a=pd.DataFrame(a)
a=a.replace('Yes',True)
print(a)
a=a.replace('No',False)
print(a)

  candidate qualify
0     venky    True
1      arun      No
2       sai      No
  candidate  qualify
0     venky     True
1      arun    False
2       sai    False

In [ ]:
#Q12. Write a Pandas program to remove infinite values from a given DataFrame.

In [21]:
a = {'C1': [1, 2, 3, np.inf, 5],'C2': [np.inf, 2, 3, 4, 5],'C3': [1, 2, 3, 4, 5]}
a = pd.DataFrame(a)
a.replace([np.inf, -np.inf], np.nan, inplace=True)
a.dropna(inplace=True)
print("DataFrame after removing infinite values:")
print(a)

DataFrame after removing infinite values:
    C1   C2  C3
1  2.0  2.0   2
2  3.0  3.0   3
4  5.0  5.0   5